h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #938701;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #713105;
}

.tableContainer {
    display: table;
    width: auto;
}

.tableRow {
    display: table-row;
    width: auto;
}

.tableCell {
    font-family: 'Segoe UI';
    float: left;
    display: table-column;
    width: 300px;
}